# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv(r'/Users/tinghaokao/Desktop/IronHackLabs_Ting/Module_1/Lab_29/Data Files/Pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
# Your code here:
pokemon['Legendary'].value_counts()

# legendary: 65
# non legendary: 735

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [14]:
# Your code here:

# legendary total mean: 637.385
pokemon[pokemon['Legendary'] == True]['Total'].agg('mean')

# legendary total std: 60.937
pokemon[pokemon['Legendary'] == True]['Total'].agg('std')

# non legendary total mean: 417.214
pokemon[pokemon['Legendary'] == False]['Total'].agg('mean')

# non legendary total std: 106.760
pokemon[pokemon['Legendary'] == False]['Total'].agg('std')

106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [17]:
# Your code here:

import scipy.stats as stats
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind

legTotal = pokemon[pokemon['Legendary'] == True]['Total']

nlegTotal = pokemon[pokemon['Legendary'] == False]['Total']

ttest_ind(legTotal, nlegTotal, equal_var = False).pvalue

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [18]:
# Your conclusions here:

# the H0 assuming that there is no significant difference bewteen the total points of Legendary and 
# Non-Legendary pokemon is rejected because our pvalue is less than 5% in this case

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [22]:
# Your code here:

pokemon[['Type 1', 'Name']].groupby('Type 1').agg('count')

          Name
Type 1
Bug         69
Dark        31
Dragon      32
Electric    44
Fairy       17
Fighting    27
Fire        52
Flying       4
Ghost       32
Grass       70
Ground      32
Ice         24
Normal      98
Poison      28
Psychic     57
Rock        44
Steel       27
Water      112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [27]:
# Your code here:

# water total mean: 430.455
pokemon[pokemon['Type 1'] == 'Water']['Total'].agg('mean')

# water total std: 113.188
pokemon[pokemon['Type 1'] == 'Water']['Total'].agg('std')

# non water total mean: 435.859
pokemon[pokemon['Type 1'] != 'Water']['Total'].agg('mean')

# non water total std: 121.092
pokemon[pokemon['Type 1'] != 'Water']['Total'].agg('std')

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [29]:
# Your code here:

water = pokemon[pokemon['Type 1'] == 'Water']['Total']
non_water = pokemon[pokemon['Type 1'] != 'Water']['Total']

ttest_ind(water, non_water, equal_var = True).pvalue

0.6587140317488793

Write your conclusion below.

In [30]:
# Your conclusions here:

# The H0 is accepted beacause we have a high pvalue. There is no significant difference observed bewteen the mean
# of total points of water type and non-water type pokemon.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [32]:
# Your code here:

from scipy.stats import ttest_rel

defense = pokemon['Defense']
attack = pokemon['Attack']

ttest_rel(defense, attack).pvalue

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [37]:
# Your conclusions here:

# We reject the H0 assuming there's no significant difference between defense and attack because the pvalue is low

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [38]:
# Your code here:

s_defense = pokemon['Sp. Def']
s_attack = pokemon['Sp. Atk']

ttest_rel(s_defense, s_attack).pvalue

0.3933685997548122

Describe the results of the test in the cell below.

In [39]:
# Your conclusions here:

# We accept the H0 assuming there's no significant difference between s.defense and s.attack because the 
# pvalue is high

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [42]:
# Your code here:

from scipy.stats import ttest_1samp

ttest_1samp(defense-attack, 0)
# yes the results are the same

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [52]:
# Your code here:

xtable_1 = pd.crosstab(index = pokemon['Legendary'], columns = np.where(pokemon['Type 1']=='Water', True, False), colnames = ['Water'])
xtable_1

Water      False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [53]:
# Your code here:

from scipy.stats import chi2_contingency
obs = xtable_1
chi2_contingency(obs)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [54]:
# Your answer here:

# P value is bigger than 5%, so we will accept the H0. No special relation observed between being Legendary and Water type.