<a href="https://colab.research.google.com/github/tinghaoK7727/IronHackLabs_Ting/blob/main/Module_3/Lab_13/Lab_13_challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [ ]:
# your code here

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [4]:
data = pd.read_csv(r'/tic-tac-toe.csv')
data

    TL TM TR ML MM MR BL BM BR  class
0    x  x  x  x  o  o  x  o  o   True
1    x  x  x  x  o  o  o  x  o   True
2    x  x  x  x  o  o  o  o  x   True
3    x  x  x  x  o  o  o  b  b   True
4    x  x  x  x  o  o  b  o  b   True
..  .. .. .. .. .. .. .. .. ..    ...
953  o  x  x  x  o  o  o  x  x  False
954  o  x  o  x  x  o  x  o  x  False
955  o  x  o  x  o  x  x  o  x  False
956  o  x  o  o  x  x  x  o  x  False
957  o  o  x  x  x  o  o  x  x  False

[958 rows x 10 columns]

In [5]:
# convert o x to numeric data
data.replace('x', 1, inplace=True)
data.replace('o', -1, inplace=True)
data.replace('b', 0, inplace=True)
data

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0     1   1   1   1  -1  -1   1  -1  -1   True
1     1   1   1   1  -1  -1  -1   1  -1   True
2     1   1   1   1  -1  -1  -1  -1   1   True
3     1   1   1   1  -1  -1  -1   0   0   True
4     1   1   1   1  -1  -1   0  -1   0   True
..   ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
953  -1   1   1   1  -1  -1  -1   1   1  False
954  -1   1  -1   1   1  -1   1  -1   1  False
955  -1   1  -1   1  -1   1   1  -1   1  False
956  -1   1  -1  -1   1   1   1  -1   1  False
957  -1  -1   1   1   1  -1  -1   1   1  False

[958 rows x 10 columns]

In [6]:
X=np.array(data.drop('class', axis=1))
y=np.array(data['class'])

In [7]:
X_scaled = tf.keras.utils.normalize(X, axis=1)
X_scaled

array([[ 0.33333333,  0.33333333,  0.33333333, ...,  0.33333333,
        -0.33333333, -0.33333333],
       [ 0.33333333,  0.33333333,  0.33333333, ..., -0.33333333,
         0.33333333, -0.33333333],
       [ 0.33333333,  0.33333333,  0.33333333, ..., -0.33333333,
        -0.33333333,  0.33333333],
       ...,
       [-0.33333333,  0.33333333, -0.33333333, ...,  0.33333333,
        -0.33333333,  0.33333333],
       [-0.33333333,  0.33333333, -0.33333333, ...,  0.33333333,
        -0.33333333,  0.33333333],
       [-0.33333333, -0.33333333,  0.33333333, ..., -0.33333333,
         0.33333333,  0.33333333]])

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [8]:
# your code here

In [9]:
# split the train and test parts

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.2)

In [10]:
# define keras
model = tf.keras.models.Sequential()
# add layers
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation=tf.nn.softmax))
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.fit(X_train,y_train,epochs=15)

Epoch 1/15
24/24 [==============================] - 1s 2ms/step - loss: 0.6231 - accuracy: 0.6619
Epoch 2/15
24/24 [==============================] - 0s 2ms/step - loss: 0.5452 - accuracy: 0.7441
Epoch 3/15
24/24 [==============================] - 0s 2ms/step - loss: 0.4840 - accuracy: 0.7689
Epoch 4/15
24/24 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.8055
Epoch 5/15
24/24 [==============================] - 0s 2ms/step - loss: 0.3594 - accuracy: 0.8512
Epoch 6/15
24/24 [==============================] - 0s 2ms/step - loss: 0.2825 - accuracy: 0.9321
Epoch 7/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1956 - accuracy: 0.9713
Epoch 8/15
24/24 [==============================] - 0s 2ms/step - loss: 0.1299 - accuracy: 0.9856
Epoch 9/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0882 - accuracy: 0.9830
Epoch 10/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0662 - accuracy: 0.9830
Epoch 11/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0506 - accuracy: 0.9856
Epoch 12/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0374 - accuracy: 0.9935
Epoch 13/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0300 - accuracy: 0.9935
Epoch 14/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0234 - accuracy: 0.9974
Epoch 15/15
24/24 [==============================] - 0s 2ms/step - loss: 0.0190 - accuracy: 0.9987

In [11]:
# evaluation

model.evaluate(X_test,y_test)

6/6 [==============================] - 0s 3ms/step - loss: 0.0365 - accuracy: 0.9844

[0.036479342728853226, 0.984375]

In [12]:
model.save('ttt.model')

INFO:tensorflow:Assets written to: ttt.model/assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [13]:
# call the model
model = tf.keras.models.load_model('ttt.model')

In [14]:
from pandas.core.common import random_state
import random
random_=[]
for i in range(0,20): 
    random_.append(random.randint(1, len(X_test)-1))

In [16]:
prediction = model.predict(X_test[random_])
predicted = np.argmax(prediction, axis = 1)
predicted

array([0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1])

In [17]:
predicted, y_test[random_]

(array([0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1]),
 array([False,  True, False, False,  True,  True,  True, False, False,
        False,  True,  True, False, False,  True,  True,  True,  True,
        False,  True]))

In [ ]:
# your code here

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [18]:
# your code here
# yes the model reached 0.03 loss and accuracy at 98%

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here